.nav {
  padding: 20px;
  background-color: burlywood;
  grid-area: n;
}

.item a {
  color: white;
  text-decoration: none;
}

/* .item a.activeLink {
  color: gold;
  text-decoration: underline;
} */

.item [aria-current="page"] { color: gold;}

.friends {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.friends .friend_item img {
  height: 50px;
  width: 50px;
  color: blue;
  
}